.createForm {
	background: #fff;
	max-width: 600px;
	width: 100%;
	border: 3px solid #e6e6e6;
	border-radius: 40px;
	padding: 40px 20px;
	margin: 40px auto 0 auto;
	grid-column: 2 / 3;

	// @include breakpoint(md) {
	// 	width: initial;
	// }

	@media (max-width: 780px) {
		width: initial;
	}

	h2 {
		margin: 0;
	}
	p {
		margin-top: 0;
	}

	&__field {
		display: flex;
		flex-direction: column;
		margin-bottom: 16px;
	}

	&__label {
		font-weight: 600;
		margin-bottom: 8px;
	}

	&__input {
		border: 3px solid #e6e6e6;
		border-radius: 40px;
		height: 36px;
		font-size: .9rem;
		padding-left: 10px;
		transition: .3s;
	}

	&__input:focus,
	&__input:active {
		outline: 0;
		box-shadow: none;
		border-color: #6a9b9c;
		transition: .3s;
	}

	&__textarea {
		resize: none;
		border: 3px solid #e6e6e6;
		border-radius: 40px;
		font-size: .9rem;
		padding-left: 10px;
		transition: .3s;
		font-family: sans-serif;
		padding-top: 30px;
	}

	&__textarea:focus,
	&__textarea:active {
		outline: 0;
		box-shadow: none;
		border-color: #6a9b9c;
		transition: .3s;
	}
}