.main-feed {
	max-width: 900px;
	margin: 60px auto 0 auto;
	padding: 0 20px 40px 20px;

	h2 {
		color: #333;
	}

	ul {
		padding: 0;
		list-style: none;
		padding-bottom: 40px;
	}

	&__item {
		margin-bottom: 30px;
		border: 2px solid #e6e6e6;
		border-radius: $card-radius;
		display: grid;
		grid-template-columns: 1fr 2fr;
		position: relative;
		min-height: 260px;
	}

	&__item:hover {
		.img-link {
			transition: .3s;
			img {
				transition: .3s;
				transform: translateY(-8px) translateX(-10px);
				box-shadow: 0 10px 24px rgba(0, 0, 0, .2);
			}
		}	
	}

	.likes {
		position: absolute;
		right: 30px;
		top: -15px;
		background: #6a9b9c;
		color: #fff;
		padding: .5rem 1.2rem;
		border-radius: 30px;
		font-size: .9rem;
		min-width: 100px;
		display: flex;
		justify-content: space-around;

		.num {
			font-weight: 600;
			border-left: 1px solid #fff;
			padding-left: 10px;
		}
	}

	&__item-img {
		grid-column: 1 / 2;
		img {
			width: 100%;
			height: calc(100% + 2px);
			object-fit: cover;
		}
	}

	&__item-info {
		grid-column: 2 / 3;
		padding: 20px;
		display: grid;
		grid-template-rows: max-content max-content;

		.title-link {
			transition: .3s;

			h3 {
				color: #333;
				font-size: 2.5rem;
				margin: 0;
			}

			&:hover {
				h3 {	
					color: $brand-color;
					transition: .3s;
				}
			}
		}


		.item-content {
			align-self: center;
		}
	}

	.img-link {
		transition: .3s;
		img {
			transition: .3s;
			transform: translateY(-1px) translateX(-1px);
			box-shadow: 0 0 0 rgba(0, 0, 0, .2);
		}
	}
}

.latest-posts {
	h2 {
		border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
		color: #333;
	}
	&__each {
		padding-bottom: 20px;
		h3 {
			font-size: 2.5rem;
			margin: 0;
			color: #333;
		}
		p > span {
			font-weight: 600;
		}
		.date {
			color: grey;
		}	
		a:hover h3 {
			color: #6a9b9c;
		}
	}
}

.read-more {
	color: $brand-color;
	font-weight: 600;
	margin-left: 10px;

	&:hover {
		border-bottom: 2px solid $brand-color;
	}
}