.navbar {
	background: transparent;
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	display: grid;
	grid-template-columns: 1fr 1fr;
	transition: all .4s;

	&__left {
		grid-column: 1 / 2;
		display: grid;
	}

	&__right {
		grid-column: 2 / 3;
		display: grid;
	}

	&__link {
		color: #fff;
		font-size: 1.1rem;
		font-weight: 600;
		border: 1px solid transparent;
		padding: 10px;
		transition: .3s;
		justify-self: end;

		&:hover {
			border-color: #fff;
			transition: .3s;
		}
	}

	&__title {
		font-size: 1.1rem;
		font-weight: 600;
		color: #fff;
		border-right: 1px solid #fff;
		padding: 10px 16px 10px 0;
		justify-self: start;
	}
}

.scrolled {
	background: #fff;
	padding: 10px 20px;
	transition: all .4s;
	border-bottom: 2px solid #6a9b9c;

	.navbar__link {
		color: #333;

		&:hover {
			border-color: #333;
			transition: .3s;
		}
	}

	.navbar__title {
		color: #333;
		border-right: 1px solid #333;
	}
}